@font-face {
  font-family: RobotoCondensed;
  src: url(RobotoCondensed.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: RobotoCondensed, sans-serif;
  animation: imageSlider 20s linear infinite;
  overflow: hidden;
}

@keyframes imageSlider {
  0%,
  30% {
    background: url(assets/bg-img3.jpg) no-repeat center / cover fixed;
  }
  35%,
  75% {
    background: url(assets/bg-img1.jpg) no-repeat center / cover fixed;
  }

  85%,
  100% {
    background: url(assets/bg-img3.jpg) no-repeat center / cover fixed;
  }
}

.main-title {
  display: flex;
  justify-content: center;
  color: aliceblue;
  margin-top: 2rem;
}

.overlay {
  background: #000;
  opacity: 0.9;
  width: 25%;
  height: 100vh;
  padding: 20px;
  overflow-x: hidden;
  margin-top: -1.5rem;
}

.container-1,
.container-2,
.container-3,
.container-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -0.5rem;
}

.description-title {
  color: #fff;
  font-size: large;
  font-weight: bolder;
  margin-top: 2rem;
}

.description {
  margin-top: -4px;
  line-height: 22px;
  font-weight: bold;
  color: #64ccde;
}

.description-btn {
  cursor: pointer;
  background: inherit;
  color: #d5d1d1;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 0.1rem;
  border: 2px solid #fff;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.description-btn:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  border: 2px solid #9400d3;
  color: #fff;
  border-radius: 15px;
}
